service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todo} {
      allow read: if true;
      allow write: if request.resource.data.todoText.size() >= 1
    }
  }
}